<div class="container heading">
  <h1>
    {{title}}
  </h1>

  <hr>

  <form [formGroup]="uploadFormGroup" class="hades-form">

    <div class="form-group">
      <label for="type" [ngClass]="{'text-danger': type.touched && !type.valid}">Faili tüüp*</label>
      <select id="type" formControlName="type" class="form-select form-control">
        <option *ngFor="let type of fileTypes" [value]="type.type">{{type.description}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="course" [ngClass]="{'text-danger': type.touched && !type.valid}">Kursus*</label>
      <select id="course" formControlName="course" class="form-select form-control">
        <option *ngFor="let course of courseList" [value]="course.courseCode">{{course.courseName}}</option>
      </select>
    </div>

    <div *ngIf="isFileExercise()" class="form-group">
      <label for="labels">Märksõnad</label>
      <tag-input id="labels"
                 formControlName="labels"
                 class="form-control"
                 [placeholder]="'+Märksõna'"
                 [secondaryPlaceholder]="'Sisesta märksõnad'"
                 [removable]="true"
                 [editable]="true"
                 [theme]="'minimal'"
                 [separatorKeyCodes]="[32, 188]"
      ></tag-input>
    </div>

    <div class="form-group">
      <label for="year">Õppeaasta</label>
      <input id="year" class="form-control" formControlName="year" type="number" min="2000" [max]="getCurrentYear()" step="1" [value]="getCurrentYear()" />
    </div>

    <div class="form-group">
      <label for="documentFile" [ngClass]="{'text-danger': documentFile.touched && !documentFile.valid}">Fail*</label>
      <input type="file" class="form-control" id="documentFile" formControlName="file" (change)="documentFileSelected($event)" accept=".docx" />
    </div>

    <div *ngIf="isFileExercise()" class="form-group">
      <label for="solutionFile" [ngClass]="{'text-danger': solutionFiles.touched && !solutionFiles.valid}">Näidislahendus</label>
      <input type="file" class="form-control" id="solutionFile" formControlName="solutionFile" (change)="solutionFileSelected($event)" accept=".py" multiple />
    </div>

    <div *ngIf="isFileExercise()" class="form-group">
      <label for="testSuiteFiles" [ngClass]="{'text-danger': testSuiteFiles.touched && !testSuiteFiles.valid}">Automaatkontrollid</label>
      <input type="file" class="form-control" id="testSuiteFiles" formControlName="testSuiteFiles" (change)="testSuiteFilesSelected($event)" accept=".py" multiple />
    </div>

    <button [disabled]="isFormValid()" (click)="submitFile()" class="btn btn-primary submit-btn" type="submit">Salvesta</button>
  </form>
</div>
