<div class="document-list-container">
  <accordion [isAnimated]="true">
    <ng-container *ngFor="let doc of documents; let i = index">
      <accordion-group>
        <button
          class="btn card-btn"
          accordion-heading type="button">
          <input #nameInput class="name-field" type="text" [(ngModel)]="doc.name" [disabled]="isEditNameDisabled" [size]="doc.name.length || 1">

          <div class="card-icons">
            <button class="btn btn-primary float-right pull-right" (click)="editDocumentName($event, i)"><i class="fa-solid fa-pencil"></i></button>
            <span class="float-right pull-right"><i class="fa-solid fa-arrow-down-long"></i></span>
          </div>
        </button>
        <hades-doc-editor [document]="doc" (modifiedDocument)="documentSaveEvent($event)" (deletedDocument)="documentDeleteEvent($event)" ></hades-doc-editor>
      </accordion-group>
    </ng-container>
  </accordion>
</div>
