@import 'src/assets/scss/variables';


.document-list-container {
  display: flex;
  flex-direction: column;
  background-color: $body-bg;
}

accordion-group {
  ::ng-deep {
    div {
      & > div.panel-heading.card-header.panel-enabled {
        background-color: rgb(168, 167, 167); // change the background of every accordion heading
        margin-bottom: 0.3rem;
        border: unset;

        &:hover {
          color: $text-color;
          border-color: transparent;
          box-shadow: $hover-effect;
          transition: $hover-effect-transition;
        }

        .btn {
          color: $text-color; // change the accordion heading buttons style
          border: unset;
        }
      }
    }

    .card {
      background-color: $body-bg;
      border: unset;
    }

    .card-body {
      padding: 0 1rem 0 1rem;
    }
  }
}

.card-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;

  a {
    color: black;
    z-index: 1000;
  }

  button {
    color: $text-color;
    border-color: transparent;
    border-radius: 0.5rem;
    background-color: transparent;

    &:hover {
      background-color: transparent;
      color: $text-color;
      border-color: transparent;
      box-shadow: $hover-effect;
    }
  }
}

.name-field {
  background-color: unset;
  border: unset;
  cursor: pointer;

  &:disabled {
    color: $text-color;
  }

  &:focus {
    outline: solid dimgray;
    border-radius: 0.2rem;
  }
}


.card-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 3rem;
  width: 100%;
}
