<div class="document-editor-container">

  <div class=" btn-container">
    <div  class="type-select">
      <tabset type="pills">
        <tab heading="Ülesanne"></tab>
        <tab heading="Näidislahendus"></tab>
        <tab heading="Automaatkontroll"></tab>
      </tabset>
    </div>

    <div>
      <button class="btn btn-primary save-btn">Salvesta <i class="fa-solid fa-floppy-disk"></i></button>
      <button class="btn btn-primary delete-btn">Kustuta <i class="fa-solid fa-trash"></i></button>
    </div>

  </div>


  <editor
    [ngModel]="document"
    [init]="editorConfig"
    apiKey="{{API_KEY}}"
  ></editor>

</div>
