<div class="tool-bar-container">
  <div *ngIf="filterYearSelect" [ngClass]="{'filter-left-margin': filterYearSelect}" class="year-select">
    <div class="btn-group year-select">
      <ngx-select
        [items]="yearList"
        [(ngModel)]="selectedYear"
        [allowClear]="true"
        placeholder="Vali aasta"
      ></ngx-select>
    </div>
  </div>

  <div *ngIf="filterTextSearch" [ngClass]="{'filter-left-margin': filterTextSearch}">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text"><i class="fa fa-search"></i></span>
      </div>
      <input [(ngModel)]="selectedNameSearch"
             [typeahead]="nameList"
             placeholder="Otsi..."
             class="form-control">
    </div>
  </div>

  <div *ngIf="filterWeekSelect" [ngClass]="{'filter-left-margin': filterWeekSelect}">
    <div class="btn-group" dropdown>
      <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
              aria-controls="dropdown">
        {{"1. Muutuja ja avaldis"}} <span class="caret"></span>
      </button>
      <ul *dropdownMenu class="dropdown-menu"
          role="menu" aria-labelledby="button">
        <li role="menuitem"><a class="dropdown-item">2. Funktsioonid</a></li>
        <li role="menuitem"><a class="dropdown-item">3. Mingid teema</a></li>
        <li role="menuitem"><a class="dropdown-item">4. Mingi hästi keeruline teema hästi pika nimega</a></li>
      </ul>
    </div>
  </div>


  <div *ngIf="filterLabelSelect" [ngClass]="{'filter-left-margin': filterLabelSelect}" class="label-select">
    <ng-multiselect-dropdown
      [placeholder]="'Vali märksõnad'"
      [settings]="dropdownSettings"
      [data]="labelList"
      [(ngModel)]="selectedLabels"

    ></ng-multiselect-dropdown>
  </div>

  <div class="action-btn-container">
    <div class="filter-left-margin">
      <button class="btn btn-primary filter-btn" (click)="applyFilter()">
        <i class="fa-solid fa-filter"></i>
      </button>
      <button class="btn btn-primary filter-btn" (click)="emptyFilter()">
        <i class="fa-solid fa-filter-circle-xmark"></i>
      </button>
    </div>

    <div class="filter-left-margin upload-btn">
      <button class="btn btn-primary" (click)="openFileUploadModal()">
        <i class="fa-solid fa-upload"></i>
      </button>
    </div>
  </div>

</div>
