<div class="navbar">
  <a class="nav-link nav-link-fade-up" [ngClass]="{'underline' : isActive(MANUALS)}" routerLink="/manuals">Juhendid</a>
  <a class="nav-link nav-link-fade-up" [ngClass]="{'underline' : isActive(PRACTICUMS)}" routerLink="/practicums">Praktikumid</a>
  <a class="nav-link nav-link-fade-up" [ngClass]="{'underline' : isActive(HOMEWORKS)}" routerLink="/homeworks">Kodutööd</a>
  <a class="nav-link nav-link-fade-up" [ngClass]="{'underline' : isActive(ASSESSMENTS)}" routerLink="/assessments">Kontrolltööd</a>
  <a class="nav-link nav-link-fade-up" [ngClass]="{'underline' : isActive(EXAMS)}" routerLink="/exams">Eksamid</a>
  <a class="nav-link nav-link-fade-up" [ngClass]="{'underline' : isActive(EXTRA)}" routerLink="/extra">Lisaülesanded</a>
</div>
