@import 'src/assets/scss/_variables.scss';


body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: $main-background-color;
}

.navbar {
  border-bottom: 0.1rem solid #BBBBBB;
  justify-content: flex-start;

  .nav-link {
    font-weight: bold;
    font-size: 1rem;
    text-transform: uppercase;
    text-decoration: none;
    color: $text-color;
    padding-bottom: 0.1rem;
    margin: 1rem $nav-and-toolbar-margin-left 0.9rem;
    display: inline-block;
    position: relative;
    opacity: 0.75;
  }

  &:hover {
    opacity: 1;
  }
}

.nav-link::after {
  content: '';
  display: block;
  width: 100%;
  height: 0.2em;
  background-color: $text-color;
  opacity: 0;
  transform-origin: center;
  transition: opacity 300ms, transform 300ms;
}

.nav-link:hover::after,
.nav-link:focus::after {
  opacity: 1;
}

.nav-link.underline::after {
  opacity: 1;
  transform: scale(1);
}
