@import 'src/assets/scss/variables';

.document-editor-container {
  display: flex;
  flex-direction: column;

  button {
    color: $text-color;
    border-color: transparent;
    border-radius: 0.5rem;
    background-color: $action-btn-bg;

    &:hover {
      background-color: $action-btn-bg;
      color: $text-color;
      border-color: transparent;
      box-shadow: $hover-effect;
    }
  }

  .btn-container {
    display: flex;
    flex-direction: row;
    padding-top: 1rem;

    .action-btn-group {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      margin-left: auto;
      gap: 0.5rem;
    }
  }

  .test-suite-btn-group {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin: 0 0 1rem 0;
  }


  editor {
    width: 100%;
    height: 100%;
  }
}


/* Type tabs */
.type-select {
  display: flex;
  flex: 1;
}

::ng-deep .type-select .nav-item {
  margin-right: 0.2rem;
}

::ng-deep .nav-pills .nav-link.active,
::ng-deep .nav-pills .show > .nav-link {
  color: $text-color;
  background-color: $action-btn-bg;

  &:hover {
    box-shadow: $hover-effect;
    transition: $hover-effect-transition;
  }
}

::ng-deep .type-select .nav-link:not(.active) {
  background-color: $main-background-color;
  color: $text-color;

  &:hover {
    box-shadow: $hover-effect;
    transition: $hover-effect-transition;
  }
}
