<div class="document-editor-container">

  <div class=" btn-container">
    <div  class="type-select">
      <tabset type="pills">
        <tab heading="Ülesanne"></tab>
        <tab heading="Näidislahendus"></tab>
        <tab heading="Automaatkontroll"></tab>
      </tabset>
    </div>

    <div class="action-btn-group">
      <button class="btn btn-primary save-btn" (click)="saveDocument(document)">Salvesta <i class="fa-solid fa-floppy-disk"></i></button>
      <button class="btn btn-primary export-btn" (click)="downloadDocumentByFileId(document)">Lae alla <i class="fa-solid fa-file-export"></i></button>
      <button class="btn btn-primary delete-btn" (click)="deleteDocument(document)">Kustuta <i class="fa-solid fa-trash"></i></button>
    </div>

  </div>


  <editor
    [(ngModel)]="editorContent"
    [init]="editorConfig"
    apiKey="{{getEditorAPIKey()}}"
  ></editor>

</div>
