.alerts-container {
  position: fixed;
  top: 1rem;
  right: 1rem;
  width: 100%;
  max-width: 25rem;
  z-index: 9999;
}

.alert-container {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
}

.alert-text-content {
  width: 100%;
  word-break: break-word;
}

@media all and (max-width: 500px) {
  .alerts-container {
    max-width: 18rem;
  }
}
