@import 'src/assets/scss/_variables.scss';

table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  padding: 8px;
  text-align: left;
  vertical-align: middle;
}

.table-cell {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.table-cell button {
  margin-left: 10px;
  width: 6.5rem;

  &:hover {
    background-color: #dc3545;
    border-color: transparent;
    box-shadow: $hover-effect;
  }
}
