<table style="background-color: white" class="table table-hover table-bordered">
  <thead class="text-center">
  <tr>
    <th class="check">
      E-mail
    </th>
    <th>
      Roll
    </th>
    <th>
      Staatus
    </th>
    <th>
    </th>
  </tr>
  </thead>
  <tbody>
  <ng-container *ngFor="let user of users">
    <tr>
      <td>
        <div>
          {{ user.email }}
        </div>
      </td>

      <td>
        <div class="table-cell">
          <div>
            {{user.role}}
          </div>
          <div>
            <div *ngIf="isAdmin(user)">
              <button  (click)="changeToUser(user)" type="button" class="btn submit-btn">Kasutajaks</button>
            </div>
            <div *ngIf="isRegularUser(user)">
              <button  (click)="changeToAdmin(user)" type="button" class="btn submit-btn">Adminiks</button>
            </div>
          </div>
        </div>
      </td>

      <td>
        <div class="table-cell">
          <div>
            {{user.status}}
          </div>
          <div>
            <div *ngIf="isActivated(user)">
              <button (click)="deactivateUser(user)" type="button" class="btn btn-danger">Deaktiveeri</button>
            </div>
            <div *ngIf="isDeactivated(user)">
              <button (click)="activateUser(user)" type="button" class="btn submit-btn">Aktiveeri</button>
            </div>
          </div>
        </div>
      </td>

      <td>
        <div style="display: flex; flex-direction: row; justify-content: center">
          <a style="cursor: pointer" (click)="deleteUser(user)">
            <i style="color: red" class="fa-solid fa-trash"></i>
          </a>
        </div>
      </td>
    </tr>
  </ng-container>

  </tbody>
</table>
