<div class="tool-bar-container">
  <div *ngIf="filterYearSelect" [ngClass]="{'filter-left-margin': filterYearSelect}" class="year-select" >
    <div class="btn-group" dropdown>
      <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
              aria-controls="dropdown-animated">
        {{"2023"}} <span class="caret"></span>
      </button>
      <ul *dropdownMenu class="dropdown-menu"
          role="menu" aria-labelledby="button-animated">
        <li role="menuitem"><a class="dropdown-item">2022</a></li>
        <li role="menuitem"><a class="dropdown-item">2021</a></li>
        <li role="menuitem"><a class="dropdown-item">2020</a></li>
      </ul>
    </div>
  </div>

  <div *ngIf="filterTextSearch" [ngClass]="{'filter-left-margin': filterTextSearch}" class="doc-text-search">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text"><i class="fa fa-search"></i></span>
      </div>
      <input [(ngModel)]="selected"
             [typeahead]="states"
             [isAnimated]="true"
             placeholder="Otsi..."
             class="form-control doc-text-search">
    </div>
  </div>

  <div *ngIf="filterWeekSelect" [ngClass]="{'filter-left-margin': filterWeekSelect}" class="week-select" >
    <div class="btn-group" dropdown>
      <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
              aria-controls="dropdown-animated">
        {{"1. Muutuja ja avaldis"}} <span class="caret"></span>
      </button>
      <ul *dropdownMenu class="dropdown-menu"
          role="menu" aria-labelledby="button-animated">
        <li role="menuitem"><a class="dropdown-item">2. Funktsioonid</a></li>
        <li role="menuitem"><a class="dropdown-item">3. Mingid teema</a></li>
        <li role="menuitem"><a class="dropdown-item">4. Mingi hästi keeruline teema hästi pika nimega</a></li>
      </ul>
    </div>
  </div>

  <div *ngIf="filterTypeTab" [ngClass]="{'filter-left-margin': filterTypeTab}" class="type-select">
    <tabset type="pills">
      <tab heading="Ülesanded"></tab>
      <tab heading="Näidislahendused"></tab>
      <tab heading="Automaatkontrollid"></tab>
    </tabset>
  </div>

  <div class="filter-left-margin">
    <button class="btn btn-primary upload-btn" (click)="openFileUploadModal()">
      <i class="fa-solid fa-upload"></i>
    </button>
  </div>
</div>


