
$nav-and-toolbar-margin-left: 3rem; /* Use this to align first nav and toolbar elements */
$text-color: #031D44;
$main-background-color: #DDD;
$hover-effect: 0 0 8px rgba(0, 0, 0, 0.5);
$hover-effect-transition: box-shadow 0.3s ease;
$save-btn-bg: #78ee78;
$del-btn-bg: #ec7777;
$body-bg: #D3D3D3;

